# Copy this to scripts/env.sh, set these variables,
#  `source scripts/env.sh`, then run the application
export APP_NAME=
# DOCKER_URI should include tag but not protocol
#  (ie- "1234567890.dkr.ecr.<AWS_REGION>.amazonaws.com/<APP_NAME>:latest")
export DOCKER_URI=
export AWS_REGION=
export AWS_ECS_CLUSTER=default
